@import '~antd/dist/antd.css';

.ant-menu {
	background: transparent;
}

.root {
  overflow-x: hidden;
}

.drawer-open {
  /* height: 100vh; */
  overflow-y: hidden;
}

/* @media screen and (min-width: 800px) {
  html {
    margin-left: calc(100vw - 100%);
  }
} */
/* body {
  margin-left: calc(100vw - 100%);
} */